@mixin myBox($backColor, $color) {
    background-color: $backColor;
    color: $color;
    width: 25%;
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
  }